#first {
    height: 600px;
    width: 600px;
    border: 5px solid;
    background-color: aqua;
    border-radius: 200px;
  }

  #second {
    float: flex;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 5px solid;
    top: 200px;
    left: 200px;

    background-color: blueviolet;
  }